html{
	height: 1000px;
}

div{
	border: 2px solid black;
	box-sizing: border-box;
}
body{
	background-color: orange;
	height: 100%;
	width: 100vw; 

}
#Instructions{
	width: 100vw;
	background-color: grey;
	
}
#gameboard{
	width: 100%;
	height: 150%;
	margin: 1%;
}
#comHand{
	width: 48%;
	height: 100%;
	background-color: grey;
	display: inline-block;

}
/*#board{
	width: 100%;
	height: 70%;
	background-color: red;
	text-align: center;
}*/
#playHand{
	width: 50%;
	height: 100%;
	background-color: blue;
	display: inline-block;
}
#gameCommand{
	width: 100%;
	height: 50%;
	background-color: grey;
}
#deck{
	margin: 3% 5%;
	width: 90%;
	height: 30%;
	background-color: purple;}
#discard{
	margin: 5% 5%;
	width: 90%;
	height: 30%;
	background-color: purple;
	display: inline-block;
}








.card{
	width: 20%;
	height: 20vh;
	float: left;
	border: 1px solid pink;
}











@media screen and (min-width: 600px) {
	#Instructions{
		margin-top: 2.65%;
		float: left;
		width: 15%;
		height: 100vh;
		display: block;
		position: fixed;

	}
	#gameboard{
		float: left;
		width: 67%;
		height:	150%;
		display: inline-block;
		margin:1% 0% 1% 15.7%;

	}
	table{
		width: 100%;
		height: 1%;
		list-style: none;
		text-align: center;
/*		size: 30em;
*/	}
	#gameboard th{
		margin: 0px;
		width: 45%;
		display: inline-block;
	}
	#gameCommand{
		margin-top: 2.65%;
		float: left;
		width: 15%;
		height: 100vh;
		display: inline-block;
		position: fixed;
		left: 83%;	
	}
	#deck{
		margin: 3% 5%;
		width: 90%;
		height: 40%;
		background-color: purple;}
	#discard{
		margin: 10% 5%;
		width: 90%;
		height: 40%;
		background-color: purple;
		display: inline-block;
	}

}