/*This file is part of Imploding Puppies.
Imploding Puppies is free software: you can redistribute it and/or modifyit under the terms of the GNU General Public License as published bythe Free Software Foundation, either version 3 of the License, or(at your option) any later version.
Imploding Puppies is distributed in the hope that it will be useful,but WITHOUT ANY WARRANTY; without even the implied warranty ofMERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See theGNU General Public License for more details.
You should have received a copy of the GNU General Public Licensealong with Imploding Puppies.  If not, see <http://www.gnu.org/licenses/>.*/
/*Copyright 2017 Chris Yarland-Price*/
html{
	height: 1000px;
	text-align: center;
	font-family: 'Asap Condensed', sans-serif;

}

div{
	border: 2px solid #82a7b5;
	box-sizing: border-box;
	border-radius: 15%;
	background-color: #458acc;
}
body{
	background-color: #82a7b5;
	height: 100%;
	width: 93vw; 
	padding: 0;
	color: white;
}
table{
	width: 98%;
	height: 1%;
	list-style: none;
	text-align: center;

}
button{
	border: none;
	background-color: #05B2DC;
	font-size: 20px;
	color: white;
}	
header{
	display: none;
}
#sidebar{
	margin-top: 0.2%;
	display: block;
	padding: .2%;
}
#Instructions{
	margin:  1% 5%;
	width: 90%;
	font-size: 25px;
	padding: 5%;
	background-color: #05B2DC;
	border: 2px solid #05B2DC;
}
#score{
	border: none;

}
#gameboard{
	width: 100%;
	height:	100%;
	display: inline-block;
	margin: 1%;
}
#comHand{
	width: 100%;
	height: 50%;
	padding: 1% 1% 1% 3%;

}
#playHand{
	width: 100%;
	height: 50%;
	padding: 1% 1% 1% 3%;
}
#gameCommand{
	height: 800px;	
}
#gameCommand .card{
	height: 10%;
	width: 7%;
}
#deck{
	position: fixed;
	top: 70%;
	left: 60%;
	width: 100px;
	height: 145px;
	background-color: #ff9b42;
	background-image: url("../assets/deck.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.deck{
	display: none;
}
#discard{
	padding: 4%;
	margin: 5% 5%;
	width: 90%;
	height: 85%;
	display: inline-block;
	background-color: #ddeeff;
	border: #458acc;

}
.card{
	width: 20%;
	height: 20%;
	float: left;
	border: 1px solid white;
	margin: 10px 3px;
	text-align: center;

}
.\31 {
	background-image: url("../assets/Puppy.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
.\32 {
	background-image: url("../assets/200_s.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}.\33 {
	background-image: url("../assets/Cartoon_Border_Collie.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.\34 {
	background-image: url("../assets/download.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}.\35 {
	background-image: url("../assets/wile-e-coyote.1jpg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.Kickball {
	background-image: url("../assets/Kickball.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.Skip {
	background-image: url("../assets/No\ Entry-595b4baf5ba036ed117e85de.svg");
	background-color: white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#comHand .card{
	background-image: url("../assets/deck.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-size: 0;	
}
#comHand .Imploding {
	background-image: url("../assets/giphy.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.Imploding {
	background-image: url("../assets/giphy.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#messages{
	width: 100%;
	height:70%;
	font-size: 22px;
	margin-top: 10px;
	text-align: center;
	background-color: #ddeeff;
	border: #458acc;
	
}
#messages{
	width: 100%;
	height:70%;
	font-size: 22px;
	margin-top: 10px;
	text-align: center;
	background-color: #ddeeff;
	border: #458acc;
	padding: 20px;	
}
.mobile{
	margin: auto;
}

@media screen and (min-width: 768px) {
	.mobile{
		display: none;
	}
	body{
		height: 2000px;
	}
header{
	width: 60%;
	margin:auto;
	display: inline-block;
	border: 2px solid;
	box-sizing: border-box;
	border-radius: 15%;
	background-color: #458acc;
}
#Instructions{
	margin:  1% 20%;
	width: 60%;
}

#gameboard{
	float: left;
	width: 73%;
	height:	100%;
	display: inline-block;
	margin:1% 0% 1% 16.4%;
}
#comHand{
	width: 49%;
	height: 100%;
	display: inline-block;
	padding: 1% 1% 1% 3%;

}
#playHand{
	width: 49%;
	height: 100%;
	display: inline-block;
	padding: 1% 1% 1% 3%;
}
#sidebar{
	margin-top: 1%;
	float: left;
	width: 15%;
	height: 95%;
	display: block;
	position: fixed;
	padding: 1%;
}
#gameCommand{
	margin-top: 1%;
	margin-left: 1%;
	float: left;
	width: 15%;
	height: 95%;
	display: inline-block;
	position: fixed;
	left: 83%;	
}
#deck{
	margin: 3% 5%;
	width: 90%;
	height: 30%;
	background-color: #ff9b42;
	background-image: url("../assets/deck.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: initial;
}
#discard{
	padding: 6%;
	margin: 5% 5%;
	width: 90%;
	height: 40%;
	display: inline-block;
	background-color: #ddeeff;
	border: #458acc;

}
.card{
	width: 75px;
	height: 100px;
	margin: 3px;
}
.deck{
	display: block;
}
#Instructions{
	position: fixed;
	margin:  1% 5%;
	width: 90%;
	font-size: 25px;
	padding: 5%;
	background-color: #05B2DC;
	border: 2px solid #05B2DC;
}







	


	
	
}